<!DOCTYPE html>
<html layout:decorate="~{/layout/error}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{error_401_title}">Unauthorized</title>
</head>

<body id="page-top">
<!-- Content -->
<div layout:fragment="content">
	<!-- 401 Error Text -->
	<div class="text-center">
		<div class="error mx-auto"
		     data-text="401"
		     th:text="#{error_code_401}">401
		</div>
		<p class="lead text-gray-800 mb-5"
		   th:text="#{error_401_text}">You are not allowed to with this resource</p>
		<p class="text-gray-500 mb-0"
		   th:text="#{error_401_text_2}">It looks like you found a glitch in the matrix...</p>
		<a th:href="@{/view/home}"
		   th:text="#{error_back_to_home}">&larr; Back to Dashboard
		</a>
	</div>
</div>
<!-- End of Content -->
</body>
</html>