<!DOCTYPE html>
<html layout:decorate="~{/layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{countries_heading}">Countries</title>
</head>

<body id="page-top">
<!-- Content -->
<div layout:fragment="content">
	<!-- Page Heading -->
	<h1 class="h3 mb-4 text-gray-800"
	    th:text="#{countries_heading}">Countries</h1>

	<!-- Content Row -->
	<div class="card mb-2 border-left-primary"
	     th:each="country : ${countries}">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="h5 mb-0 font-weight-bold text-gray-800"
					     th:text="${country.name}">Country-Name
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Content Row -->
</div>
<!-- End of Content -->
</body>

</html>