<!DOCTYPE html>
<html layout:decorate="~{/layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Countries</title>
</head>

<body id="page-top">
<div layout:fragment="content">
	<!-- Page Heading -->
	<h1 class="h3 mb-4 text-gray-800"
	    th:text="#{home_heading}">APIConnector</h1>

	<!-- Content Row -->
	<div class="row">
		<!-- Available Users -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
							     th:text="#{home_available_users}">
								Available Users
							</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"
							     th:text="${userCount}">100
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-chart-area fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Available Countries -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
							     th:text="#{home_available_countries}">
								Available Countries
							</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"
							     th:text="${countryCount}">100
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-chart-area fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End of Content Row -->
</div>
</body>

</html>