<!DOCTYPE html>
<html layout:decorate="~{/layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Countries</title>
</head>

<body id="page-top">
<div layout:fragment="content">
	<!-- Page Heading -->
	<h1 class="h3 mb-4 text-gray-800"
	    th:text="#{home_heading}">APIConnector</h1>

	<form method="get"
	      th:action="@{/view/search}">

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Suchfilter</h6>
			</div>
			<div class="card-body">
				<div class="row align-items-end">
					<div class="form-group col">
						<select class="form-control"
						        id="countryChooser"
						        name="countryName"
						        th:value="${countryName}">
							<option th:text="#{choose_country}"
							        th:value="null">
							</option>
							<option th:each="country : ${countries}"
							        th:text="${country.name}"
							        th:value="${country.name}">Country
							</option>
						</select>
					</div>

					<div class="form-group col col-lg-2">
						<button
						 class="btn btn-primary btn-icon-split"
						 type="submit">
				            <span class="icon text-white-50">
				                <i class="fas fa-search"></i>
				            </span>
							<span class="text"
							      th:text="#{user_table_search}">
	                            Search
	                        </span>
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="table-responsive"
		     th:if="${not #lists.isEmpty(users)}">
			<table class="table table-striped">
				<tr>
					<th th:text="#{user_table_id}">Id</th>
					<th th:text="#{user_table_name}">Name</th>
					<th th:text="#{user_table_surname}">Surname</th>
					<th th:text="#{user_table_email}">E-Mail</th>
				</tr>
				<tr th:each="user: ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.firstName}">name</td>
					<td th:text="${user.lastName}">surname</td>
					<td th:text="${user.email}">email</td>
				</tr>
			</table>
		</div>
	</form>
	<!-- End of Content Row -->
</div>
</body>

</html>