<!DOCTYPE html>
<html layout:decorate="~{/layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Countries</title>
</head>

<body id="page-top">
<div layout:fragment="content">
	<!-- Page Heading -->
	<h1 class="h3 mb-4 text-gray-800"
	    th:text="#{home_heading}">APIConnector</h1>

	<!-- Content Row -->
	<div class="row">
		<form method="get"
		      th:action="@{/view/search}">
			<select class="form-control"
			        name="countryName"
			        th:value="${countryName}">
				<option th:text="#{choose_country}"
				        th:value="null">
				</option>
				<option th:each="country : ${countries}"
				        th:text="${country.name}"
				        th:value="${country.name}">Country
				</option>
			</select>

			<input type="submit"
			       value="Search" />

			<div th:if="${not #lists.isEmpty(users)}">
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Surname</th>
					</tr>
					<tr th:each="user: ${users}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.firstName}">name</td>
						<td th:text="${user.lastName}">surname</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	<!-- End of Content Row -->
</div>
</body>

</html>